UID contains quotes

The current UID format is `"mail@example.com" <mail@example.com>` when the mail address is chosen as the name for the PGP key.
This is different to gpg, where the format is `mail@example.com <mail@example.com>` - notice the missing quotes.

I don't know what is valid or if both formats are possible, but at least the quotes cause issues in OpenPgpKey: https://github.com/open-keychain/open-keychain/issues/1943
So you might consider creating keys without the quotes (at least if there are no spaces in the given name).

We use the Closure library which quotes the display-name if it contains special characters:
https://github.com/mailvelope/mailvelope/blob/dev/src/modules/closure-library/closure/goog/emailaddress.js#L197

Looks like this is related to RFC5322: http://stackoverflow.com/a/15606313
The "@" is defined here as a special character: https://tools.ietf.org/html/rfc5322#section-3.2.3

Okay, if `@` is really a special character, why is not it quoted by gpg? I mean I doubt gpg does it wrong here.

RFC4880 talks about RFC2822 which specifies the name part as atom or quoted-string. Special characters are defined in section 3.2.4. @ is not a special character.
```
atext           =       ALPHA / DIGIT / ; Any character except controls,
                        "!" / "#" /     ;  SP, and specials.
                        "$" / "%" /     ;  Used for atoms
                        "&" / "'" /
                        "*" / "+" /
                        "-" / "/" /
                        "=" / "?" /
                        "^" / "_" /
                        "`" / "{" /
                        "|" / "}" /
                        "~"

atom            =       [CFWS] 1*atext [CFWS]
```

GPG does not quote at all and produces e.g. `"!#$, test <test@mailvelope.com>"`

@alecpl, @ is a special character, I think you're getting confused by a double negation :-).

atext are all the characters that are not special. @ is not in the list, @ is special.

@DigitalBrains1 Yes, but that means `@` don't need to be quoted, but e.g. `$` should. However, as @toberndo said GPG does not quote them.

I asked about this GPG author and here's what he said:
```
By convention, it [the OpenPGP user id packet] includes an RFC 2822
mail name-addr, but there are no restrictions on its content.
Thus you should not assume that the same rules apply.  In fact OpenPGP
requires UTF-8 which is not allowed by RFC-5322.
```
Well, I expected more strict rules here, but indeed the RFC4880 it's a convention (not MUST, SHOULD nor MAY).

I think you're still going backwards.

Let me assemble a bit of the ABNF:
```
address         =   mailbox / group

mailbox         =   name-addr / addr-spec

name-addr       =   [display-name] angle-addr

angle-addr      =   [CFWS] "<" addr-spec ">" [CFWS] /
                       obs-angle-addr

display-name    =   phrase

phrase          =   1*word / obs-phrase

obs-phrase      =   word *(word / "." / CFWS)

word            =   atom / quoted-string

atom            =       [CFWS] 1*atext [CFWS]

atext           =   ALPHA / DIGIT /    ; Printable US-ASCII
                       "!" / "#" /        ;  characters not including
                       "$" / "%" /        ;  specials.  Used for atoms.
                       "&" / "'" /
                       "*" / "+" /
                       "-" / "/" /
                       "=" / "?" /
                       "^" / "_" /
                       "`" / "{" /
                       "|" / "}" /
                       "~"

quoted-string   =   [CFWS]
                       DQUOTE *([FWS] qcontent) [FWS] DQUOTE
                       [CFWS]

qcontent        =   qtext / quoted-pair

qtext           =   %d33 /             ; Printable US-ASCII
                       %d35-91 /          ;  characters not including
                       %d93-126 /         ;  "\" or the quote character
                       obs-qtext
```

A display-name is a phrase. Each word in a phrase can contain the characters from atext and white space; if you want anything outside atext, you need to use a quoted-string.

@DigitalBrains1 I understand ABNF, I agreed with you. Didn't I? The point is that GPG ignores these rules.

Grrr... I made a mistake in previous comments. "`@` don't need to be quoted, but e.g. `$` should", but I wanted to say: "`$` don't need to be quoted, but e.g. `@` should". Still it is "a convention" according to RFC which was already proved in this ticket (GPG does not quote `@`).

Well, before I finished this you noticed the mixup. Let me give two correct name-addr's for good measure:

`I like $$$ <peter@example.org>`
but
`"Peter@a pile of money" <peter@example.org>`

But yes, the main point is GPG does not add any quotes beyond what the user specifies himself, since the UID field is freeform. So users wishing to enter an e-mail address there (that's most) should specify a valid name-addr themselves, or their interface should do it for them. In this respect, the GPG dialog for creating keys and UID's is lacking IMHO, since it is separately prompting for name and e-mail address, suggesting it will correctly format the name. This it doesn't do.

Instead of what OP suggests, I'd suggest that OpenPgpKey needs to be adapted to handle a name-addr better. In parallel, I think there's the possibility of opening a feature request/bug report for GnuPG that it should also produce a properly quoted name-addr when --allow-freeform-uid is not given.

There is one issue with this: People use UTF-8 in UID's. And RFC 5322 does not allow this. So it could be GnuPG is not willing to implement stricter compliance, since they don't feel like tackling internationalized local parts in e-mail. This is something that was the topic of a current discussion on gnupg-devel.

I started out simply pointing out a minor mistake, but by now I suppose I should mix in a bit of actual proper on-topicness :-).

Currently Mailvelope does not format the user ID but on key generation hands over name and email to OpenPGP.js which uses https://github.com/haraka/node-address-rfc2822 to format the user ID, which still produces `"mail@example.com" <mail@example.com>`